# load dataset

In [2]:
import pandas as pd
uber_data=pd.read_csv("C:/Users/HP/Downloads/datasets-main/datasets-main/Uber_Drives_2016.csv")
uber_data.head()

,START_DATE*,END_DATE*,CATEGORY*,START*,STOP*,MILES*,PURPOSE*
0,1/1/2016 21:11,1/1/2016 21:17,Business,Fort Pierce,Fort Pierce,5.1,Meal/Entertain
1,1/2/2016 1:25,1/2/2016 1:37,Business,Fort Pierce,Fort Pierce,5.0,NaN
2,1/2/2016 20:25,1/2/2016 20:38,Business,Fort Pierce,Fort Pierce,4.8,Errand/Supplies
3,1/5/2016 17:31,1/5/2016 17:45,Business,Fort Pierce,Fort Pierce,4.7,Meeting
4,1/6/2016 14:42,1/6/2016 15:49,Business,Fort Pierce,West Palm Beach,63.7,Customer Visit

# display the no.of rows and columns

In [3]:
print(uber_data.shape)

(1156, 7)

# Show unique categories in the CATEGORY column.

In [7]:
print(uber_data['CATEGORY*'])

0       Business
1       Business
2       Business
3       Business
4       Business
          ...
1151    Business
1152    Business
1153    Business
1154    Business
1155         NaN
Name: CATEGORY*, Length: 1156, dtype: object

# null values are there in PURPOSE

In [8]:
print(uber_data['PURPOSE*'].isnull().sum())

503

# Rename all columns in uppercase.

In [10]:
print(uber_data.columns == uber_data.columns.str.upper())

[ True  True  True  True  True  True  True]